<!-- HOME -->
<section class="module module-header" data-background=<%= asset_path "email.jpg"%>>

  <div class="container">

    <!-- MODULE TITLE -->
    <div class="row">

      <div class="col-sm-6 col-sm-offset-3">

        <h1 class="module-title font-alt align-center"></h1>
        <br>
        <br>

        <div class="module-subtitle font-inc align-center">


        </div>

      </div>

    </div>
    <!-- /MODULE TITLE -->
    </div>

  </section >
  <!-- /HOME -->

    <!-- WRAPPER -->
  	<div class="wrapper">

  		<!-- CONTACT -->
  		<section class="module">

  			<div class="container">

  				<!-- MODULE TITLE -->
  				<div class="row">

  					<div class="col-sm-6 col-sm-offset-3">

  						<h2 class="module-title align-center font-alt">Get in touch</h2>

  						<div class="module-subtitle align-center font-inc">
  							A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
  						</div>

  					</div>

  				</div>
  				<!-- /MODULE TITLE -->

  				<!-- CONTACT FORM -->
  				<div class="row">


            <div class="col-sm-6 col-sm-offset-3">
              <%= form_for @contact, url: contacts_path do |f| %>

                    <div class="field">
                      <%= f.text_field :name, placeholder: "Name" %>
                    </div>

                    <div class="field">
                      <%= f.email_field :email, placeholder: "Email"%>
                    </div>

                    <div class="field">
                      <%= f.text_area :body, placeholder: "Message"%>
                    </div>

  							<button type="submit" class="btn btn-round btn-g">Submit</button>


  						<!-- Ajax response -->
  						<div id="contact-response" class="ajax-response font-alt"></div>
              <% end %>

  					</div>

  				</div>
  				<!-- /CONTACT FORM -->

  			</div>

      </div>
      <!-- /WRAPPER -->
