<!-- FORM -->


<div class="row">


  <%= form_for @project do |f| %>


  <div class="col-sm-4 col-sm-offset-4">

      <div class="form-group">
          <%= f.text_field :name, class:"form-control", id:"name", placeholder:"Name", required: ""  %>
      </div>

      <div class="form-group">
          <%= f.text_area :description, class:"form-control", id:"description", placeholder:"Description", value: "", style: "height:200px;", required: "" %>
      </div>

      <div class="form-group">
          <%= f.text_field :github, class:"form-control", id:"github", placeholder:"Github URL", required: ""  %>
      </div>

      <div class="form-group">
          <%= f.text_field :projecturl, class:"form-control", id:"projecturl", placeholder:"Project URL", required: ""  %>
      </div>

      <div class="form-group">
          <%= f.file_field :image_upload, class:"form-control", id:"image_upload", placeholder:"Image Upload"  %>
      </div>

      <div class="form-group">
          <%= f.text_field :tags, class:"form-control", id:"tags", placeholder:"Tags", required: "" %>
      </div>

      <div class="submit align-right">
        <button type="submit" class="btn btn-g btn-round btn-sm">Cancel</button>
        <button type="submit" class="btn btn-d btn-round btn-sm">Submit</button>
      </div>
    <!-- Ajax response -->
    <div id="contact-response" class="ajax-response font-alt"></div>

  </div>
  <% end %>

  </div>

<!--/ FORM -->
