<!-- WRAPPER -->
<div class="wrapper">

  <!-- HOME -->
  <section class="module module-header bg-dark bg-dark-50" data-background=<%= asset_path "deskcomputer2.jpg"%>

    <div class="container">

      <!-- MODULE TITLE -->
      <div class="row">

        <div class="col-sm-6 col-sm-offset-3">

          <h1 class="module-title font-alt align-center">Portfolio</h1>

          <div class="module-subtitle font-inc align-center">
            A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
          </div>

        </div>

      </div>
      <!-- /MODULE TITLE -->

    </div>

  </section >
  <!-- /HOME -->

  <!-- Project GRID -->
  <section class="module p-b-0">

    <div class="container">

      <div class="row multi-columns-row post-columns">

        <!-- POST ITEM -->
        <% @projects.each do |project| %>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="post">
            <%= link_to project_path(project) do %>
            <div class="post-thumbnail">
              <%= image_tag project.image_upload.url(:medium) %>
            </div>
            <div class="post-header">
              <h2 class="post-title font-alt"><%=project.name%></a></h2>
            </div>
            <div class="post-entry">
              <p>Description: <%= project.description%></p>
              <p>Github: <%= project.github%></p>
              <p>Project URL: <%= project.projecturl%></p>
            </div>
            <div class="post-more font-inc">
              <a href="blog-single.html" class="more-link">Read more</a>
            </div>
            <% end %>
          </div>
        </div>
        <% end %>
        <!-- /POST ITEM -->

      </div>

    </div>

  </section>
  <!-- /Project GRID -->

  <!-- PAGINATION -->
  <section class="module-small p-t-10">

    <div class="container">

      <div class="pagination font-inc text-uppercase">

        <a href="#"><i class="fa fa-angle-left"></i> Prev</a>
        <a href="#">Next <i class="fa fa-angle-right"></i></a>

      </div>

    </div>

  </section>
  <!-- /PAGINATION -->

  <!-- DIVIDER -->
  <hr class="divider-w">
  <!-- /DIVIDER -->





</div>
<!-- /WRAPPER -->

<div class="container">
<h1>Projects Page</h1>


  <% current_user.projects.each do |project| %>
    <li> <%= link_to project.name, project %> </li>
  <% end %>

</div>
