<!-- WRAPPER -->
<div class="wrapper">

  <!-- BLOG STANDART 2 -->
  <section class="module">

    <div class="container">

      <div class="row">

        <div class="col-sm-8 col-sm-offset-2">

          <!-- POST -->
          <%= link_to "Github", @project.github, class:"btn btn-g btn-round", target: '_blank' %>
          <%= link_to "Demo", @project.projecturl, class:"btn btn-g btn-round", target: '_blank' %>
          <div >

            <div class="post-thumbnail">
              <%= image_tag @project.image_upload.url (:large)%>
            </div>

            <div class="post-header align-center">
              <h1 class="post-title font-alt"><%=@project.name %></h1>
              <div class="post-meta font-inc">

              </div>
            </div>

            <div class="post-entry align-center">
              <ul>Description: <%=@project.description %></ul>
            </div>

        </div>
          <!-- /POST -->


          <br><%= link_to 'Edit Project', edit_project_path %>
          <br><%= link_to 'Back To All Projects', projects_path %>
          <% if current_user.admin %>
          <br><%= button_to "Delete", @porject, :method => :delete %>
          <% end %>

</div>
<!-- /WRAPPER -->
