<!-- WRAPPER -->
<div class="wrapper">

  <!-- BLOG STANDART 2 -->
  <section class="module">

    <div class="container">

      <div class="row">

        <div class="col-sm-8 col-sm-offset-2">

          <!-- PROJECT DESCRIPTION -->

          <div class="post">

            <div class="post-thumbnail">
              <%= image_tag @project.image_upload.url (:large)%>
            </div>

            <div class="post-header align-center">
              <h1 class="post-title font-alt"><%=@project.name %></h1>
              <br>
              <%= link_to "Github", @project.github, class:"btn btn-g btn-round btn-xs", target: '_blank' %>
              <%= link_to "Demo", @project.projecturl, class:"btn btn-g btn-round btn-xs", target: '_blank' %>
              <div class="post-meta font-inc">

              </div>
            </div>

            <div class="post-entry font-inc align-center">
              <ul>Description: <%=@project.description %></ul>
            </div>

            <!-- USER CRUD -->
            <div class="crud align-right">
              <% if logged_in? %>
              <%= link_to 'Edit', edit_project_path, class: "btn btn-warning btn-round btn-xs"%>
              <% end %>

            </div>
            <!-- USER CRUD -->
        </div>

          <!-- /PROJECT DESCRIPTION -->

        </div>

      </div>

    </div>

  </section>
<!-- /WRAPPER -->
